<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">FN Store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Produtos")">Produtos</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "TesteCache")">OutPutCache</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("MemCache", "TesteCache")">Memory Cache</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "JQueryUI")">Demo jQueryUI</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            @if (!User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Login", "Conta")">Login</a>
                </li>
            }
            else
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Olá @User.Identity.Name
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="@Url.Action("MeuPerfil", "Conta")">Meu perfil</a>
                        <a class="dropdown-item" href="@Url.Action("Index", "Logs")">Log</a>
                        <div class="dropdown-divider"></div>
                        <button id="senhaBtn" class="dropdown-item btn btn-link">Alterar minha senha</button>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="@Url.Action("Logoff", "Conta")">Sair</a>
                    </div>

                </li>
            }

        </ul>

    </div>
</nav>